{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Просмотр занятий по выбранной дате</title>

 </head>
 <body>
 
 <table class="main">



<tr><td colspan="2">
<div class = "to_enter"><br>Вы не авторизованы в системе. <a href="{% url 'login' %}">Войти как администратор?</a><br></div>
</td></tr>


<tr><td colspan="2">
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td colspan="2">
			<a href="{% url 'index' %}"><div class="button" background="#9754e7">Главная</div></a>

			<a href="#"><div class="button_active">Просмотр списка занятий на выбранную дату</div></a>

			<a href="{% url 'lessons_for_user' %}"><div class="button">Поиск занятий по нескольким полям</div></a></td>
</tr>
  <tr><td colspan="3"><br><br>
  <form>
   <div class="form_r auto">
       {% if state == -1 %}
         <div class="not_found">{{ message }}</div>
       {% endif %}
		<div class="input-form_r">

			<h4><p>Выберите группу:<br><br>
			</p></h4>
            <div class="custom-dropdown">
            {{ form.group }}
		</div>
        </div>
		<div class="input-form_r">
			<h4><p>Выберите дату: <br><br><input type="date" {{form.date}}</h4>
		</div>
		<div class="input-form_r">
			 <input type="submit" value="Найти"></p>
		</div>
	</div>
  </form>
  </td></tr>
     <tr><td>
</div><br>



         {% if state == 1 %}
  <table class = "rasp">
  <colgroup>
    <col span="4">
  </colgroup>
  <tr>
   <th>Время</th>
      <th>Учитель</th>
    <th>Занятие</th>
	<th>Кабинет</th>
  </tr>

      {% for i in params %}
      <tr>
          <td>{{ i.time }}</td>
          <td>{{ i.teacher }}</td>
          <td>{{ i.lesson }}</td>
          <td>{{ i.cabinet }}</td>
          </tr>
        {% endfor %}

</table>
{% endif %}



     </div>
</td></tr>
</table>
 </body>
</html>