{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Просмотр занятий по выбранной дате</title>

 </head>
 <body>
 
 <table class="main">

<tr><td colspan="2">
<div class = "to_enter"><br>Вы не авторизованы в системе. <a href="enter.html">Войти как администратор?</a><br></div>
</td></tr>


<tr><td colspan="2">
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td colspan="2">
			<a href="{% url 'index' %}"><div class="button" background="#9754e7">Главная</div></a>

			<a href="#"><div class="button_active">Просмотр списка занятий на выбранную дату</div></a>

			<a href="{% url 'lessons_for_user' %}"><div class="button">Поиск занятий по нескольким полям</div></a></td>
</tr>
  <tr><td><br><br><br><br>
  <form>
   <div class="form_r">
		<div class="input-form_r">
			<h4><p>Выберите группу:<br><br> 
			<span class="custom-dropdown">
				<select name="num" class="input-form_r input">
				<option value="1">Пчёлки</option>
				<option value="2">Бабочки</option>
				<option value="3">Солнышки</option>
				<option value="4">Звёздочки</option>
				</select>
			</span></p></h4>
		</div>
		
		<div class="input-form_r">
			<h4><p>Выберите дату: <br><br><input type="date" name="calendar"></h4>
		</div>
		<div class="input-form_r">
			 <input type="submit" value="Найти"></p>
		</div>
	</div>
  </form>
  </td><td>
</div><div class = "line">
  <table class = "rasp">
  <colgroup>
    <col span="2">
  </colgroup>
  <tr>
   <th>Время</th>
    <th>Занятие</th>
	<th>Кабинет</th>
  </tr>
  <tr>
    <td>14:00</td>
    <td>Английский язык</td>
	<td>101</td>
  </tr>
  <tr>
    <td>15:00</td>
    <td>Робототехника</td>
	<td>312</td>
  </tr>
    <tr>
    <td>16:00</td>
    <td>Програмирование</td>
	<td>101</td>
  </tr>
</table></div>
</td></tr>
</table>
 </body>
</html>