{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>


</head>
<body>
<br><br><br>
<a href="index.html"><div class="btn_to_index">На главную</div></a>
{% block content %}
	<form method="POST" class="form" >{% csrf_token %}
		<h1>Вход</h1>
		{{ form.as_p }}
		<div class="input-form">
			<input type="text" placeholder="Логин">
		</div>
		<div class="input-form">
			<input type="password" placeholder="Пароль">
		</div>
		<div class="input-form">
			<input type="submit" value="Войти">
		</div>
		<a href="#" class="forget">Забыли пароль?</a>
	</form>
{% endblock content %}


</body>
</html>