<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	
	<link rel="stylesheet" href="style.css">
	 <style> 
   html { height: 100%; }
   body {
    margin: 0;  
    height: 100%; 
    background: url(img/center.jpg); 
    background-size: cover; 
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   } 
  </style>
</head>
<body>
<br><br><br>
<a href="index.html"><div class="btn_to_index">На главную</div></a>
	
	<div class="form">
		<h1>Вход</h1>
		<div class="input-form">
			<input type="text" placeholder="Логин">
		</div>
		<div class="input-form">
			<input type="password" placeholder="Пароль">
		</div>
		<div class="input-form">
			<input type="submit" value="Войти">
		</div>
		<a href="#" class="forget">Забыли пароль?</a>
	</div>

</body>
</html>