{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Центр десткого развития</title>
   </head> 

    <body>

<table class="main">

<tr><td>
<div class = "to_enter"><br>Вы не авторизованы в системе. <a href="enter.html">Войти как администратор?</a><br></div>
</td></tr>


<tr><td>
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td>
			<a href="index.html"><div class="button_active" background="#9754e7">Главная</div></a>

			<a href="data_for_user.html"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href='lessons_for_user.html'><div class="button">Поиск занятий по нескольким полям</div></a></td>
</tr>
  <tr><td><p align = center><div class = "information">Тут будет всякая главная информация о центре. <br>
  <br>Эта страничка доступна всем без авторизации</p></td></tr>
  </table>
  
	
 </body>
</html>