{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Центр десткого развития</title>
   </head> 

    <body>

<table class="main">

<tr><td>
<div class = "to_enter"><br><a href="{% url 'index' %}">Выйти из учетной записи</a><br></div>
</td></tr>

<tr><td>
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td>
			<a href="index_for_admin.html"><div class="button_active" background="#9754e7">Главная</div></a>

			<a href="data_for_admin.html"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href='lessons_for_admin.html'><div class="button">Поиск занятий по нескольким полям</div></a>
			
			<a href="{% url 'new_group' %}"><div class="button" background="#9754e7">Добавить новую группу</div></a>
			
			<a href="new_lesson.html"><div class="button" background="#9754e7">Добавить занятия</div></a>
			
			<a href="{% url 'new_teacher' %}"><div class="button" background="#9754e7">Добавить учителя</div></a>
</td></tr>
  <tr><td><p align = center><div class = "information">Тут будет всякая главная информация о центре. <br>
  <br>Эту страничку видно ТОЛЬКО админу</div></td></tr>
  </table>
  
	
 </body>
</html>