{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Просмотр занятий по выбранной дате</title>

 </head>
 <body>
 
 <table class="main">

<tr><td colspan="2">
<div class = "to_enter"><br><a href="{% url 'index' %}">Выйти из учетной записи</a><br></div>
</td></tr>

<tr><td colspan="2">
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td colspan="2">
			<a href="{% url 'index_for_admin' %}"><div class="button" background="#9754e7">Главная</div></a>

			<a href="{% url 'data_for_admin' %}"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href=#><div class="button_active">Поиск занятий по нескольким полям</div></a>
			
			<a href="{% url 'new_group' %}"><div class="button" background="#9754e7">Добавить новую группу</div></a>
			
			<a href="{% url 'new_lesson' %}"><div class="button" background="#9754e7">Добавить занятия</div></a>
			
			<a href="{% url 'new_teacher' %}"><div class="button" background="#9754e7">Добавить учителя</div></a>
</tr>
  <tr><td><br><br><br>
  <form method="get">
      {% csrf_token %}
  <table class="form_r auto">
	  {% if state == -1 %}
	  <tr><td colspan="3"><p align="center" style="color: #FF0000; background: rgba(0, 0, 0, 0.7); font-size:20px;"><strong>{{ message }}</strong></p></td></tr>
	  {% endif %}
  <tr><td>

	<div class="input-form_r">
			<h4><p>Группа:<br><br>
                <div class="custom-dropdown">
			{{ form.group }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
	<div class="input-form_r">
			<h4>Направление:<br><br>
                <div class="custom-dropdown">
			{{ form.lesson }}
                </div>
            </h4>
		</div>
	</td>
	<td>
	<div class="input-form_r close">
			<h4><p>Учитель<br><br>
                <div class="custom-dropdown">
			{{ form.teacher }}
            </div>
            </p></h4>
		</div>
	</td>
	</tr>
	<tr><td>
		<div class="input-form_r">
			<h4><p>Кабинет<br><br>
                <div class="custom-dropdown">
			{{ form.cabinet }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>Время:<br><br>
                <div class="custom-dropdown">
			{{ form.time }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>Дата:<br><br>
                <br><input type="date" {{form.date}}
			</p></h4>
		</div>
	</td>
	</tr>
	<tr><td colspan="3">
		<div class="input-form_r">
			 <input type="submit" value="Найти"></p>
		</div>
	</td></tr>

  </table>
  </form>
		{% if state == 1 %}
		<table class = "rasp">
		<tr><td>День недели</td><td>Время</td><td>Группа</td><td>Занятие</td><td>Учитель</td><td>Кабинет</td></tr>
		{% for i in params %}
			<tr>
				<td>{{ i.day_of_week }}</td>
				<td>{{ i.time }}</td>
				<td>{{ i.group.name }}</td>
				<td>{{ i.lesson }}</td>
				<td>{{ i.teacher }}</td>
				<td>{{ i.cabinet }}</td>
		</tr>

		{% endfor %}
</table>
		 {% endif %}



  </td></tr>
</table>
 </body>
</html>