<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css" type="text/css" />
 <head>
  <meta charset="utf-8">
  <title>Центр детского развития</title>
   </head> 

    <body>

<table class="main">

<tr><td>
<div class = "to_enter"><br><a href="index.html">Выйти из учетной записи</a><br></div>
</td></tr>


<tr><td>
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td>
			<a href="index_for_admin.html"><div class="button" background="#9754e7">Главная</div></a>

			<a href="data_for_admin.html"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href='lessons_for_admin.html'><div class="button">Поиск занятий по нескольким полям</div></a>
			
			<a href="new_group.html"><div class="button" background="#9754e7">Добавить новую группу</div></a>
			
			<a href=#><div class="button_active" background="#9754e7">Добавить занятия</div></a>
			
			<a href="new_teacher.html"><div class="button" background="#9754e7">Добавить учителя</div></a>
</td></tr>
  <tr><td><br><br><br>
  <form>
  <table class="form_r auto">
  <tr><td>
  
	<div class="input-form_r">
			<h4><p>Группа:<br><br> 
			<span class="custom-dropdown">
				<select name="num" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">Бабочки</option>
				<option value="3">Звёздочки</option>
				<option value="4">Пчёлки</option>
				</select>
			</span></p></h4>
		</div>
	</td>
	<td>
	<div class="input-form_r">
			<h4>Направление:<br><br> 
			<span class="custom-dropdown">
				<select name="lesson" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">Робототехника</option>
				<option value="3">Мелкая моторика</option>
				<option value="4">Подготовка к школе</option>
				</select>
			</span></h4>
		</div>
	</td>
	<td>
	<div class="input-form_r close">
			<h4><p>Учитель<br><br> 
			<span class="custom-dropdown">
				<select name="teacher" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">Алыпова А.С</option>
				<option value="3">Неклюдова Е.А</option>
				<option value="4">Ляпина С.В.</option>
				</select>
			</span></p></h4>
		</div>
	</td>
	</tr>
	<tr><td>
		<div class="input-form_r">
			<h4><p>Возрастная категория:<br><br> 
			<span class="custom-dropdown">
				<select name="age" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">2-3 года</option>
				<option value="3">4-5 лет</option>
				<option value="4">6-7 лет</option>
				</select>
			</span></p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>Время:<br><br> 
			<span class="custom-dropdown">
				<select name="age" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">11:00</option>
				<option value="3">12:00</option>
				<option value="4">13:00</option>
				<option value="5">14:00</option>
				</select>
			</span></p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>День недели:<br><br> 
			<span class="custom-dropdown">
				<select name="age" class="input-form_r input">
				<option value="1">-не выбрано-</option>
				<option value="2">Понедельник</option>
				<option value="3">Вторник</option>
				<option value="4">Среда</option>
				<option value="5">Четверг</option>
				<option value="6">Пятница</option>
				<option value="7">Суббота</option>
				<option value="8">Воскресенье</option>
				</select>
			</span></p></h4>
		</div>
	</td>
	</tr>
	<tr><td colspan="3">
		<div class="input-form_r">
			 <input type="submit" value="Добавить"></p>
		</div>
	</td></tr>
  
  </table>
  
  </form>
  </td></tr>
  </table>
  
	
 </body>
</html>