{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Центр детского развития</title>
   </head> 

    <body>

<table class="main">

<tr><td>
<div class = "to_enter"><br><a href="{% url 'index' %}">Выйти из учетной записи</a><br></div>
</td></tr>


<tr><td>
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td>
			<a href="{% url 'index_for_admin' %}"><div class="button" background="#9754e7">Главная</div></a>

			<a href="data_for_admin.html"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href='lessons_for_admin.html'><div class="button">Поиск занятий по нескольким полям</div></a>
			
			<a href="{% url 'new_group' %}"><div class="button" background="#9754e7">Добавить новую группу</div></a>
			
			<a href=#><div class="button_active" background="#9754e7">Добавить занятия</div></a>
			
			<a href="{% url 'new_teacher' %}"><div class="button" background="#9754e7">Добавить учителя</div></a>
</td></tr>
  <tr><td><br><br><br>
  <form method="post">
      {% csrf_token %}
  <table class="form_r auto">
	  {% if state == -1 %}
	  <tr><td colspan="3"><p align="center" style="color: #FF0000; background: rgba(0, 0, 0, 0.7); font-size:20px;"><strong>{{ message }}</strong></p></td></tr>
	  {% else %}
	  <tr><td colspan="3"><p align="center" style="color: white; background: rgba(0, 0, 0, 0.7); font-size:20px;"><strong>{{ message }}</strong></p></td></tr>
	  {% endif %}
  <tr><td>

	<div class="input-form_r">
			<h4><p>Группа:<br><br>
                <div class="custom-dropdown">
			{{ form.group }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
	<div class="input-form_r">
			<h4>Направление:<br><br>
                <div class="custom-dropdown">
			{{ form.lesson }}
                </div>
            </h4>
		</div>
	</td>
	<td>
	<div class="input-form_r close">
			<h4><p>Учитель<br><br>
                <div class="custom-dropdown">
			{{ form.teacher }}
            </div>
            </p></h4>
		</div>
	</td>
	</tr>
	<tr><td>
		<div class="input-form_r">
			<h4><p>Кабинет<br><br>
                <div class="custom-dropdown">
			{{ form.cabinet }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>Время:<br><br>
                <div class="custom-dropdown">
			{{ form.time }}
            </div>
            </p></h4>
		</div>
	</td>
	<td>
		<div class="input-form_r">
			<h4><p>День недели:<br><br>
			<div class="custom-dropdown">
                {{ form.day_of_week }}
			</div></p></h4>
		</div>
	</td>
	</tr>
	<tr><td colspan="3">
		<div class="input-form_r">
			 <input type="submit" value="Добавить"></p>
		</div>
	</td></tr>

  </table>
  
  </form>
  </td></tr>
  </table>
  
	
 </body>
</html>