{% load static %}


<html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <head>
  <meta charset="utf-8">
  <title>Центр десткого развития</title>
   </head> 

    <body>

<table class="main">

<tr><td>
<div class = "to_enter"><br><a href="{% url 'index' %}">Выйти из учетной записи</a><br></div>
</td></tr>


<tr><td>
<h1> <p ALIGN="center">
  Центр детского развития KidsGrowth
  </p>
  </h1></td></tr>
<tr><td>
			<a href="{% url 'index_for_admin' %}"><div class="button" background="#9754e7">Главная</div></a>

			<a href="data_for_admin.html"><div class="button">Просмотр списка занятий на выбранную дату</div></a>

			<a href='lessons_for_admin.html'><div class="button">Поиск занятий по нескольким полям</div></a>
			
			<a href=#><div class="button_active" background="#9754e7">Добавить новую группу</div></a>
			
			<a href="{% url 'new_lesson' %}"><div class="button" background="#9754e7">Добавить занятия</div></a>
			
			<a href="{% url 'new_teacher' %}"><div class="button" background="#9754e7">Добавить учителя</div></a>
</td></tr>
  <tr><td><br><br><br>
  <form method="post">
		{% csrf_token %}
   <div class="form_r auto">
		<div class="input-form_r">
		<h4><p>Название:</h4>
			{{ form.name }}
		</div>
		<div class="input-form_r custom-dropdown">
			<h4><p>Возрастная группа:</p></h4>
				{{ form.age }}
		</div>
		<div class="input-form_r">
			 <input type="submit" value="Добавить"></p>
		</div>
	   <p align="center" style="color: #FF0000"><strong>{{ message }}</strong></p><br>
	</div>
  </form>
  </td></tr>
  </table>
  
	
 </body>
</html>