{% load static %}


<html xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>


</head>
<body>
<br><br><br>

<a href="{% url 'index' %}"><div class="btn_to_index">На главную</div></a>

	<form method="POST" action="" class="form" >{% csrf_token %}
		<h1>Вход</h1>
		  <div class="input-form">
			  {{ form.username }}
		  </div>
		<div class="input-form">
		{{ form.password }}
		</div>
		<div class="input-form">
			<input type="submit" value="Войти">
		</div>
		{% if form.errors %}
  <p align="center" style="color: #FF0000"><strong>Неверный логин или пароль</strong></p>
{% endif %}
	</form>
<br>


</body>
</html>